<h1>NGX Scroll locker</h1>
<ngx-scroll-lock [lock]="lock"></ngx-scroll-lock>

<button type="button" (click)="lock = !lock">
  Click to {{ lock ? 'Unlock' : 'Lock' }}
</button>

<h2>Element with scroll</h2>
<div class="content-with-scroll">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
    praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
    labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
    consequuntur.
  </p>
  <p>
    Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
    similique illo nobis veritatis vel exercitationem necessitatibus molestias.
    Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis
    quis voluptates.
  </p>
  <p>
    Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
    asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa
    vitae aliquam? Dolorem magnam voluptatum facilis id, minima deserunt
    aliquid?
  </p>
  <p>
    Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
    soluta? Fugiat praesentium voluptates veritatis corporis similique
    laudantium quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti
    beatae saepe reprehenderit officia.
  </p>
  <p>
    Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis
    provident quis ipsum sint ab vitae totam quidem at iusto earum impedit
    veritatis? Consectetur velit tempore placeat laborum iste, eos maiores aut?
  </p>
</div>

<h2>Page content</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam fuga
  praesentium, nulla adipisci numquam blanditiis. Vel amet itaque adipisci
  labore? Dolorem dignissimos mollitia ex facilis atque iusto soluta autem
  consequuntur.
</p>
<p>
  Non, esse nemo! Expedita, quibusdam praesentium. Beatae debitis iste impedit
  similique illo nobis veritatis vel exercitationem necessitatibus molestias.
  Eveniet autem ipsam, ipsa officia ratione corporis atque quisquam debitis quis
  voluptates.
</p>
<p>
  Placeat fugiat, rerum laborum eum vero corporis officia molestias ex
  asperiores delectus fugit expedita iusto nulla ab pariatur commodi ipsa vitae
  aliquam? Dolorem magnam voluptatum facilis id, minima deserunt aliquid?
</p>
<p>
  Provident eum mollitia vitae maxime ea aut excepturi nobis fuga laudantium
  soluta? Fugiat praesentium voluptates veritatis corporis similique laudantium
  quaerat, perspiciatis dolor, enim quisquam, ducimus corrupti beatae saepe
  reprehenderit officia.
</p>
<p>
  Atque dignissimos, beatae dolorum voluptatem assumenda dicta debitis provident
  quis ipsum sint ab vitae totam quidem at iusto earum impedit veritatis?
  Consectetur velit tempore placeat laborum iste, eos maiores aut?
</p>
